openai===1.16.2
pandas===2.2.3
matplotlib
requests
msal
Flask==3.0.3
gunicorn
Werkzeug==3.0.4

azure-functions
azure-search-documents==11.4.0
azure-identity
azure-cosmos

langchain
langchain-openai
langchain-community

promptflow
promptflow-tools
promptflow[azure]